* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(16, 65, 109);
}

.item {
    width: 15%;
    height: 100px;
    background-color: rgb(206, 225, 241);
    margin: 10px;

}


.conteudo {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}


.barra {
    background-color: rgb(3, 53, 10);
    height: 10vh;
    grid-area: barra;
}



.lado{
    background-color: rgb(77, 194, 77);
    height: 80vh;
    grid-area: lado;
}

.principal{
    background-color: rgb(111, 145, 110);
    height: 80vh;
    grid-area: principal;
}

.rodape {
    background-color: rgb(140, 247, 113);
    height: 10vh;
    grid-area: rodape;
}

.meu-site {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-areas: 
                    "barra barra"
                    "lado principal"
                    "rodape rodape";


}
